
body {
    background:url(pic1.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    align-items:center;
    height:100vh;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid white;
}

.black__bg{
    background-color: rgba(44,62,80,0.7);
    background-position: center;
    margin: auto;
    height: 400px;
    width: 250px;
    margin-top: 80px;
    padding: 40px;
    margin-left: 180x;
}
form{
    text-align: center;
    width: 240px;
}
input[type=text]{
    
    width: 240px;
    text-align: center;
    background: transparent;
    border:none;
    border-bottom: 1px solid #fff;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 200px;
    transition: border 0.5s;
    color: #fff;
    
    
}


input[type=password]{
    
     width: 240px;
    text-align: center;
    background: transparent;
    border:none;
    border-bottom: 1px solid #fff;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 200px;
    transition: border 0.5s;
    color: #fff;
    
    
}



input[type=button]{
background-color: white;
    width: 190px;
  border: none;
  color: black;
  padding: 10px 0;
  text-decoration: none;
  cursor: pointer;
    font-size: 16px;
    line-height: 25px;
    border-right: 15px;
    margin: 15px;
    border-radius: 40px;
}

input[type=button]:hover{
    color: aqua;
    background-color: black;
}
a{
    color: yellow;
    text-decoration: underline;
}
.container{
    display: flex;
}
































